In [5]:
import sqlite3
conn = sqlite3.connect('Banking_EnterprizeDB.db')
c = conn.cursor()

In [9]:
c.execute("CREATE TABLE Branch( Branch_Name varchar(30),Branch_city varchar(20),Assets real ,Primary Key(Branch_name))")

OperationalError: table Branch already exists

In [11]:
Pe=[ ( "BOBV", "Virajpet","1000000"),
         ( "BOBM" ,  "Madikeri" , "2000000"),
          ( "BOBG" ,  "Gonikoppal" , "300000"),
           ( "BOBB" ,  "Bitangala" , "400000"),
           ( "BOBN" ,  "Nelamangala" , "500000")]
c.executemany("INSERT INTO Branch Values(?,?,?)",Pe)

In [15]:
print("Records in the Branch Table")
for row in c.execute("Select * From Branch"):
    print(row)

Records in the Branch Table
('BOBV', 'Virajpet', 1000000.0)
('BOBM', 'Madikeri', 2000000.0)
('BOBG', 'Gonikoppal', 300000.0)
('BOBB', 'Bitangala', 400000.0)
('BOBN', 'Nelamangala', 500000.0)

In [17]:
Pe=[ ( "BOBV", "Virajpet","1000000"),
         ( "BOBM" ,  "Madikeri" , "2000000"),
          ( "BOBG" ,  "Gonikoppal" , "300000"),
           ( "BOBB" ,  "Bitangala" , "400000"),
           ( "BOBN" ,  "Nelamangala" , "500000")]
c.executemany("INSERT INTO Branch Values(?,?,?)",Pe)

IntegrityError: UNIQUE constraint failed: Branch.Branch_Name

In [19]:
print("Records in the Branch Table")
for row in c.execute("Select * From Branch"):
    print(row)

Records in the Branch Table
('BOBV', 'Virajpet', 1000000.0)
('BOBM', 'Madikeri', 2000000.0)
('BOBG', 'Gonikoppal', 300000.0)
('BOBB', 'Bitangala', 400000.0)
('BOBN', 'Nelamangala', 500000.0)

In [21]:
c.execute("CREATE TABLE BankAccount( Account_no varchar(30),Branch_Name varchar(20),Balance real ,Primary Key(Account_no),foreign key(Branch_Name) references Branch(Branch_Name))")

In [25]:
Pe=[ ( "111111111", "BOBV","150000"),
         ( "222222222" ,  "BOBM" , "20000"),
          ( "333333333" ,  "BOBG" , "3000"),
           ( "444444444" ,  "BOBB" , "4000"),
           ( "555555555" ,  "BOBN" , "8500")]
c.executemany("INSERT INTO BankAccount Values(?,?,?)",Pe)

IntegrityError: UNIQUE constraint failed: BankAccount.Account_no

In [29]:
print("Records in the Bank_Account  Table")
for row in c.execute("Select * From BankAccount"):
    print(row)

Records in the Bank_Account  Table
('111111111', 'BOBV', 150000.0)
('222222222', 'BOBM', 20000.0)
('333333333', 'BOBG', 3000.0)
('444444444', 'BOBB', 4000.0)
('555555555', 'BOBN', 8500.0)

In [37]:
c.execute("CREATE TABLE BankCustomer( Customer_name varchar(30),Customer_Street varchar(20),Customer_City varchar(30) ,Primary Key(Customer_name))")

OperationalError: table BankCustomer already exists

In [73]:
Pe=[ ( "Rizaulla", "Gonikoppal ROad","Virajpet"),
         ( "Kushalappa" ,  "Chickpet Road" , "Madikeri"),
          ( "Vishal" ,  "Gs Street" , "Gonikoppal"),
           ( "Mubarak" ,  "Badaga Road" , "Bitangala"),
           ( "yashwant" ,  "Hunsur Road" , "")]
c.executemany("INSERT INTO BankCustomer Values(?,?,?)",Pe)

In [75]:
print("Records in the Bank_Customer  Table")
for row in c.execute("Select * From BankCustomer"):
    print(row)

Records in the Bank_Customer  Table
('Rizaulla', 'Gonikoppal ROad', 'Virajpet')
('Kushalappa', 'Chickpet Road', 'Madikeri')
('Vishal', 'Gs Street', 'Gonikoppal')
('Mubarak', 'Badaga Road', 'Bitangala')
('yashwant', 'Hunsur Road', '')

In [ ]:
c.execute("CREATE TABLE BankCustomer( Customer_name varchar(30),Customer_Street varchar(20),Customer_City varchar(30) ,Primary Key(Customer_name))")